*{
margin: 0;
padding: 0;
text-decoration: none;
box-sizing: border-box;
}

.im2{
  width: 50vw;
    height: 500px;
    margin-left: 300px;
   position: absolute;
   background-repeat: no-repeat;
   display: flexbox;
   background-size: cover;
}

.carousel-inner{
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}


@media screen and (max-width: 758px) {
  .img-fluid {
    width: 100vw;
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
.navbar-brand{
   

}

}
  